---
import BentoItem from './BentoItem.astro'

---
<section class="
w-full max-w-[1400px] min-h-screen 
grid grid-cols-10 auto-rows-[30rem] gap-4
mx-auto p-20
">
<BentoItem 
class="col-span-20 md:col-span-4" 
title="Experiencias pedagógicas" 
subtitle="20 años de clases" 
>
    <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 
               w-full h-full group-hover:scale-110 transition-scale duration-1000 
               ease-in-out opacity-90 bn-blend-luminosity bg-cover bg-center bg-no-repeat
               bg-amber-950 -z-10
        "
        style="background-image: url('/experiencia.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl text-white">
        El profesor Raúl Rosales ha guiado a generaciones en la <strong>exploración creativa</strong> . 
        Con metodologías innovadoras y proyectos significativos, fomenta la expresión artística y 
        el pensamiento crítico, dejando huella en la educación visual.
    </p>

</BentoItem>
<BentoItem 
class="col-span-20 md:col-span-6" 
title="Proyectos Artísticos" 
subtitle="Audiovisuales y Planificaciones"
>
    <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 
               w-full h-full group-hover:scale-110 transition-scale duration-1000 
               ease-in-out opacity-90 bn-blend-luminosity bg-cover bg-center bg-no-repeat
               bg-amber-950 -z-10
        "
        style="background-image: url('/proyectos.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl text-white">
        Los proyectos de Raúl Rosales destacan por su <strong> calidad y originalidad</strong>. 
        Sus cortometrajes y clips musicales ayudan a jóvenes a 
        <strong> comprender el proceso audiovisual</strong>, 
        y sus metodologías son adoptadas por otros docentes.
    </p>
</BentoItem>

<BentoItem 
class="col-span-20 md:col-span-6" 
title="Audiovisuales" 
subtitle="Cortometrajes y clip musicales" 
>
    <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 
               w-full h-full group-hover:scale-110 transition-scale duration-1000 
               ease-in-out opacity-90 bn-blend-luminosity bg-cover bg-center bg-no-repeat
               bg-amber-950 -z-10
        "
        style="background-image: url('/audiovisuales.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl text-white">
        Los audiovisuales de Raúl Rosales han sido reconocidos por su <strong>calidad y originalidad</strong>. Sus cortometrajes y clip musicales han sido exhibidos en festivales nacionales e internacionales, y sus planificaciones han sido adoptadas por docentes de todo el país.
    </p>
</BentoItem>
<BentoItem 
class="col-span-20 md:col-span-4" 
title="Planificaciones" 
subtitle="Recursos pedagógicos"
>
    <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 
               w-full h-full group-hover:scale-110 transition-scale duration-1000 
               ease-in-out opacity-90 bn-blend-luminosity bg-cover bg-center bg-no-repeat
               bg-amber-950 -z-10
        "
        style="background-image: url('/planificaciones.webp');"
    >
    </div>
    <p slot="content" class="max-w-xl text-white">
        Las planificaciones de Raúl Rosales han sido reconocidas por su <strong>calidad y originalidad</strong>. Sus cortometrajes y clip musicales han sido exhibidos en festivales nacionales e internacionales, y sus planificaciones han sido adoptadas por docentes de todo el país.
    </p>
</BentoItem>

</section>