---
import BentoItem from './BentoItem.astro'

---

<section class="
w-full max-w-[1400px]
grid grid-cols-10 auto-rows-[35rem] gap-4
mx-auto p-20
">
<BentoItem title="Experiencias pedagógicas" subtitle="20 años de clases" />
<BentoItem title="Proyectos Artísticos" subtitle="Audiovisuales"/>
<BentoItem title="Audiovisuales" subtitle="cortometrajes y clip musicales" />
<BentoItem title="Planificaciones" subtitle="Recusrsos pedagógicos"/>
</section>