---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto" description="¡Hablemos!">
    <main class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold mb-8">Contacto</h1>
        <section class="mb-12">
            <h2 class="text-3xl font-bold mb-6">¡Hablemos!</h2>
            <p class="text-lg mb-4">
                Si deseas contactarme para colaborar en un proyecto, compartir ideas o simplemente saludar, no dudes en escribirme. Estoy disponible en las siguientes redes sociales y correo electrónico:                     

</Layout>